.building {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: auto;
    align-items: center;
    justify-content: start;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}